<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>An idea published at <a href="http://www.1001ideas.org">www.1001ideas.org</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Help extend this library at:</p>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>

  </div>

<script src="/js/functions.js"></script>
</footer>
<div id="translation">
  here goes the translation
</div>
